@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-[32px] font-[800] text-black font-['Montserrat'] leading-snug py-10;
  }

  h2 {
    @apply text-[23px] font-[800] text-black font-['Montserrat'] leading-tight mt-8;
  }

  h3 {
    @apply text-[18px] font-[700] text-black font-['Montserrat'] mt-4;
  }

  img {
    @apply py-2;
  }

  code span {
    @apply text-[17px] font-['Consolas'];
  }

  p {
    @apply text-[#292929];
  }

  .content p > a {
    @apply underline;
  }

  .content p > code {
    @apply bg-[#F2F2F2] px-2 py-1 rounded-md;
  }

  .content blockquote {
    @apply py-2;
  }

  .content blockquote p {
    @apply italic;
    margin: 0;
    padding-left: 0.7em;
    border-left: 0.325em rgb(122, 122, 122) solid;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* > * {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre {
  overflow-x: auto;
}

p {
  word-wrap: break-word;
}

img {
  display: block;
  margin: 0 auto;
}

.input-text {
  @apply mt-1 block w-60 px-3 py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
  @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.loader {
  @apply border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
  border-top-color: #363ce0;
  animation: spinner 1.2s linear infinite;
}
